<div class="container mystyle">
	<div class="d-flex justify-content-center h-100">
		<div class="card-mynew">
			<marquee>
				<p style="font-family: Impact; font-size: 18pt; color: goldenrod;">WELCOME TO KIB LOGIN PAGE</p>
			</marquee>
			<div class="card-header">
				<h3 style="font-style: italic;">Sign In</h3>
			</div>
			<div class="card-body">
				<form>
					<div class="username">
						<label for="exampleInputEmail1">Username</label>
						<input type="text" class="form-control" placeholder="Enter username" name="Username"
							[(ngModel)]="username" />
					</div>
					<div class="password">
						<label for="exampleInputPassword1">Password</label>
						<input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password"
							name="password" [(ngModel)]="password" />
						<p>We'll never share your password with anyone else.</p>
						<a href="" class="help-block" style="float: top:10px; color:gold; text-decoration: none;">Forgot
							Password?</a>

					</div>

					<div class="row btnrow"><button type="submit" class="btn btn-outline mybtn" value="Login"
							(click)="LoginUser()">Submit</button></div>
				</form>
			</div>
			<div class="contaier login-footer">

				<div class=" row">
					<a href="#">Don't Have An Account?</a>
				</div>

				<div class="row">
					<marquee style="color: goldenrod; font-size: 14pt;"><b>Powered By KIB Technologies..</b></marquee>
				</div>
			</div>


			<div class="alert alert-secondary alert-dismissible fade show" role="alert">
				<strong>SUCCESSFUL Login</strong>
				<button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
			</div>
			<!-- Button trigger modal -->
			<button type="button" class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#staticBackdrop">
				IMPORTANT </button>

			<!-- Modal -->
			<div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
				aria-labelledby="staticBackdropLabel" aria-hidden="true">
				<div class="modal-dialog">
					<div class="modal-content">
						<div class="modal-header">
							<h5 class="modal-title" id="staticBackdropLabel">CMS</h5>
							<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
						</div>
						<div class="modal-body">
							don't press escape or any other key without fill entries
						</div>
						<div class="modal-footer">
							<button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
							<button type="button" class="btn btn-primary">Understood</button>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>