<!DOCTYPE html>
<html>

        <div class="mynewcard">
           <div class="card-header">
               <h1 style="color: goldenrod;">PROJECTS</h1>
            </div>
          <div class="row">
            <div class="col-lg-4">
                <div class="Project1">
                    <div class="card-header">AMICA</div>
                    <div class="card-body"><img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRz1gDCnZfac7J8P2IMiE9H9b-LkPi5Jx354A&usqp=CAU" width="100px" height="100px"style="display: block; margin-left: auto;margin-right: auto;"/></div>
                    <div class="card-footer">Project Deadline/ Client Name</div>
                </div>
            </div> 
            
            <div class="col-lg-4">
                <div class="Project2">
                    <div class="card-header">AFREEN</div>
                    <div class="card-body"><img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQzZFeFjXZ3N2ZCmbXW8c_1-pEaCts1S646rg&usqp=CAU" width="100px" height="100px"style="display: block; margin-left: auto;margin-right: auto;"/></div>
                    <div class="card-footer">Project Deadline/ Client Name</div>
                </div>
            </div>

            <div class="col-lg-4">
                <div class="Project3">
                    <div class="card-header">HALDWANI</div>
                    <div class="card-body"><img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSvHo0G5b4tIZCnfm3b-2xwupsW4sb43EyGow&usqp=CAU" width="100px" height="100px"style="display: block; margin-left: auto;margin-right: auto;"/></div>
                    <div class="card-footer">Project Deadline/ Client Name</div>
                </div><br>
            </div>

            <div class="col-lg-4">
                <div class="Project4">
                    <div class="card-header">TALENT HAIGHT</div>
                    <div class="card-body"><img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSnbQFjzZKgZq2xh9GmqKGtqYxIxVlDngjA_g&usqp=CAU" width="100px" height="100px"style="display: block; margin-left: auto;margin-right: auto;"/></div>
                    <div class="card-footer">Project Deadline/ Client Name</div>
                </div><br>
            </div>

            <div class="col-lg-4">
                <div class="Project5">
                    <div class="card-header">AR/VR</div>
                    <div class="card-body"><img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRR0Vw4knvpBbYZqTir_xdvesS1pn6t4dvfEA&usqp=CAU" width="100px" height="100px"style="display: block; margin-left: auto;margin-right: auto;"/></div>
                    <div class="card-footer">Project Deadline/ Client Name</div>
                </div><br>
            </div>

            <div class="col-lg-4">
                <div class="Project6">
                    <div class="card-header">TSF</div>
                    <div class="card-body"><img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQQoOefY3i4YnomNKFX-yKuPTdTiim1BP3-uA&usqp=CAU"width="100px" height="100px" style="display: block; margin-left: auto;margin-right: auto;"/></div>
                    <div class="card-footer">Project Deadline/ Client Name</div>
                </div>
            </div>
        </div>
    </div>
</html>